form(class="w3-container" method="POST")
    fieldset
        legend Form Utilizador
        label Id
        input.w3-input.w3-round(type="text" name="id")
        label Nome 
        input.w3-input.w3-round(type="text" name="nome")
    br
    button.w3-btn.w3-teal.w3-mb-2(type="submit") Register User